* {
    margin: 0%;
    padding: 0%;
}

#ifes {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 1em;
    margin-bottom: -0.8em;
    background-color: rgb(211, 210, 210);;
    color: black;
}

#header {
    font-family: 'Rubik', sans-serif;
    background-color: #290438;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.1em;
}

#header a {
    color: rgb(235, 233, 233);
    text-decoration: none;
}

#links a:hover {
    color: rgb(170, 170, 170);
}

#logo {
    margin-left: 2em;
    width: 10em;
}

#logo:hover {
    opacity: 0.83;
}

#botao {
    background-color: #44055e;
    text-decoration: none;
    border: 1px solid rgb(130, 148, 148);
    border-radius: 15%;
    padding: 0.5em;
    color: rgb(130, 148, 148);
    margin-right: 2em;
}

header button {
    margin-right: 2em;
}

#botao:hover {
    background-color: #5c0980;
}

#main {
    display: flex;
    justify-content: center;
}

#container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#destaques h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: -0.5em;
}

#news img {
    aspect-ratio: 16/10;
    width: 100%;
    border-radius: 1%;
}

#carousels {
    display: flex;
    justify-content: center;
}

#comments {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#fotos {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#carousel1 {
    padding-bottom: 2em;
    width: min(85%, 35em);
}

#carousel1 h5 {
    background-color: black;
    padding: 0.25em;
    border-radius: 5%;
}

#carousel1 img {
    aspect-ratio: 16/10;
}

#carousel2 {
    padding-bottom: 2em;
    width: min(85%, 35em);
}

#carousel2 h5 {
    background-color: black;
    padding: 0.25em;
    border-radius: 5%;
}

#carousel2 img {
    aspect-ratio: 16/10;
}

.carousel-caption {
    height: 2.5em;
}

#barra {
    width: 20%;
    background-color: #1c86c4;
    border-left: 0px solid black;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

#bar {
    margin-top: 0.5em;
    text-align: center;
    background-color: #1c86c4;
    
}

#bar a {
    font-size: 1.3em;
    color: rgb(230, 230, 230);
    text-decoration: none;
}

#bar h5 {
    font-size: 1.3em;
}

#area {
    font-size: 0.9em;
    background-color: #44055e;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 3em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5%;
}

#area:hover {
    background-color: #5c0980;
}

#sobre h5 {
    color: #89d4ff;
}

#categorias h5 {
    color: #89d4ff;
}

#categorias a:hover {
    color: rgb(170, 170, 170);
}

#sobre a:hover {
    color: rgb(170, 170, 170);
}

@media (max-width: 1150px) {
    #area {
        width: 90%;
        margin-left: 0.6em;
    }
}

@media (max-width: 1100px) {
    #carousels {
        flex-wrap: wrap;
    }

    #comments {
        margin: 0%;
    }

    #fotos {
        margin: 0%;
    }

    #carousel1 {
        width: 60%;
    }

    #carousel2 {
        width: 60%;
    }
}

@media (max-width: 767px) {
    #container {
        width: 100%;
    }

    #barra {
        width: 100%;
    }

    #botao {
        margin: 0%;
    }

    #logo {
        margin: 0%;
    }

    header button {
        margin: 0%;
    }

    #area {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 575px) {
    #carousel1 {
        width: 80%;
    }

    #carousel2 {
        width: 80%;
    }
}

@media (max-width: 500px) {
    #carousel1 h5 {
        font-size: 0.85em;
    }

    #carousel2 h5 {
        font-size: 0.85em;
    }
}


#destaques a {
    text-decoration: none;
    color: black;
}

#footer {
    color: #fff;
    font-size: 0.9em;
    background-color: #290438;
}